{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static "wwwroot/css/site.css" %}">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
		integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
		integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static "wwwroot/scripts/site.js" %}"></script>
	<script src="{% static "wwwroot/scripts/qrcode.js" %}"></script>
</head>

<body>
	<div class="main">
		<div class="section-column">
			<div class="accordion" id="accordian-selection">
			  <div class="card">
			    <div class="card-header" id="headers">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-headings" aria-expanded="false" aria-controls="collapse-headings">
			        <button class="btn btn-link" type="button">
			          Headers & Titles
			        </button>
			      </h2>
			    </div>
			    <div id="collapse-headings" class="collapse" aria-labelledby="headers" data-parent="#accordian-selection">
			      <div class="card-body">
					<div id="title" draggable="true" ondragstart="drag(event)">
						<h1 id="title-content" class="editable">Title</h1>
					</div>
					<div id="title-setter" style="display: none">
						<input type="text" value="Title" onkeyup="setValue('title', this.value)"/>
					</div>

					<div id="subtitle" draggable="true" ondragstart="drag(event)">
						<h2 id="subtitle-content" class="editable">Subtitle</h2>
					</div>
					<div id="subtitle-setter" style="display: none">
						<input type="text" value="Subtitle" onkeyup="setValue('subtitle', this.value)"/>
					</div>


					<div id="subsubtitle" draggable="true" ondragstart="drag(event)">
						<h3 id="subsubtitle-content" class="editable">Subsubtitle</h3>
					</div>
					<div id="subsubtitle-setter" style="display: none">
						<input type="text" value="Subsubtitle" onkeyup="setValue('subsubtitle', this.value)"/>
					</div>

					<div id="subsubsubtitle" draggable="true" ondragstart="drag(event)">
						<h4 id="subsubsubtitle-content" class="editable">SubSubSubtitle</h4>
					</div>
					<div id="subsubsubtitle-setter" style="display: none">
						<input type="text" value="Subsubsubtitle" onkeyup="setValue('subsubsubtitle', this.value)"/>
					</div>
			      </div>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-header" id="buttons">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-button" aria-expanded="false" aria-controls="collapse-button">
			        <button class="btn btn-link" type="button">
			          Buttons & Inputs
			        </button>
			      </h2>
			    </div>
			
			    <div id="collapse-button" class="collapse" aria-labelledby="buttons" data-parent="#accordian-selection">
			      <div class="card-body row">
					  <div class="col-auto" style="margin-top: 5px">
						<div id="primary" draggable="true" ondragstart="drag(event)">
							<button id="primary-content" class="btn btn-primary">Primary Button</button>
						</div>
						<div id="primary-setter" style="display: none">
							<input type="text" value="Primary Button" onkeyup="setValue('primary', this.value)"/>
						</div>

						<div id="secondary" draggable="true" ondragstart="drag(event)">
							<button id="secondary-content" class="btn btn-secondary">Secondary Button</button>
						</div>
						<div id="secondary-setter" style="display: none">
							<input type="text" value="Primary Button" onkeyup="setValue('secondary', this.value)"/>
						</div>


						<div id="button-warning" draggable="true" ondragstart="drag(event)">
							<button class="btn btn-warning">Warning Button</button>
						</div>

						<div id="button-danger" draggable="true" ondragstart="drag(event)">
							<button class="btn btn-danger">Danger Button</button>
						</div>
					</div>
					<div class="col-auto">
						<div id="input" draggable="true" ondragstart="drag(event)">
							<div class="input-group mb-3">
						 		<input type="text" class="form-control" placeholder="Input..." aria-label="Username">
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="card">
			    <div class="card-header" id="navs">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-navs" aria-expanded="false" aria-controls="collapse-navs">
			        <button class="btn btn-link" type="button">
			          Navigation & Pagination
			        </button>
			      </h2>
			    </div>
			    <div id="collapse-navs" class="collapse" aria-labelledby="navs" data-parent="#accordian-selection">
			      <div class="card-body">
					<div class="row">
						<div class="col">
							<div id="nav-obj" draggable="true" ondragstart="drag(event)">
								<nav class="nav">
								  <a class="nav-link" href="#">Home</a>
								  <a class="nav-link" href="#">About</a>
								  <a class="nav-link" href="#">Contact</a>
								</nav>
							</div>
						</div>

						<div class="col">

						</div>
					</div>
				  </div>
			    </div>
			  </div>
			</div>
		</div>
				<!-- generate_file is the url defined in settings.py  -->
				<!-- <a class="btn btn-large"  onclick="getData()" href="{% url "generate_file"  %}">PRESS ME</a> -->
				<textarea style="display: none;" id="data" name"data"></textarea>
				<br>
				<center>
					<button id="load" class="btn btn-large"  onclick="getData()">Load Web App Content</button>
					<button id="generate" class="btn btn-large" style="display: none" onclick="test()">Generate</button>
				</center>

			</div>

		<div class="line"></div>
		<div id="PLACEHOLDER" style="width: 50%; height: 100%"></div>
	<div id="qr-scan" class="overlay" style="display: none; padding-top: 5vh;">
	<center>
		<div id="qrcode"></div> <br/>
		<button id="close" class="btn btn-large" onclick="closePopup()">Close</button>
	</center>
	</div>

	</div>
	</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	function closePopup() {
		document.getElementById("qr-scan").style["display"] = "none";
	}

	function generateQRCode() {
		new QRCode(document.getElementById("qrcode"), "http://google.com");
	}

	function setValue(elemId, val) {
		var element = document.getElementById(elemId + '-content').innerHTML = val;
	}
</script>
<script>
	var section = document.getElementById("PLACEHOLDER")
	for(var i = 0; i < 20; i++) {
		var subsection = document.createElement("DIV")
		subsection.setAttribute("id", i)
		subsection.setAttribute("class", "section")
		for(var j = 0; j < 20; j++) {
			var subsubsection = document.createElement("DIV")
			subsubsection.setAttribute("id", i + "" + j)
			subsubsection.setAttribute("ondrop", "drop(event)")
			subsubsection.setAttribute("draggable", "true")
			subsubsection.setAttribute("ondragover", "allowDrop(event)")
			subsubsection.setAttribute("ondragstart", "drag(event)")
			subsubsection.setAttribute("class", "draggable location")
			subsection.appendChild(subsubsection)
		}
		section.append(subsection)
	}
</script>

<script>

function test() {
		var val = document.getElementById('data').value;
            $.ajax({
                url: "/generate_file",
                type: "POST",
                dataType: "html",
                data: {
                    val: val,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                success : function(json) {
					document.getElementById('generate').style["display"] = "none"
					document.getElementById('load').removeAttribute("style")
					document.getElementById("qrcode").innerHTML = ""
					document.getElementById("qr-scan").style["display"] = "block"
					new QRCode(document.getElementById("qrcode"), "http://10.202.96.236:5050/");
                },
                error : function(xhr,errmsg,err) {
                    alert("Could not send URL to Django. Error: " + err);
                }
            });
}
</script>
<script>
	function getData()
	{
		document.getElementById('data').value = document.getElementById('PLACEHOLDER').innerHTML;
		document.getElementById('load').style["background-color"] = "green"
		document.getElementById('load').style["text-color"] = "white"
		document.getElementById('generate').style["display"] = "block"
	}
</script>
