{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="manifest" href="{% static "wwwroot/manifest.json"  %}">

	<link rel="stylesheet" href="{% static "wwwroot/css/site.css" %}">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
		integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
		integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

	<script src="{% static "wwwroot/scripts/site.js" %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<div class="main">
		<div class="section-column">
			<div id="title" draggable="true" ondragstart="drag(event)">
				<h1>Title</h1>
			</div>
			<div id="subtitle" draggable="true" ondragstart="drag(event)">
				<h2>Subtitle</h2>
			</div>

			<div id="subtitle" draggable="true" ondragstart="drag(event)">
				<h3>SubSubtitle</h3>
			</div>

			<div id="subtitle" draggable="true" ondragstart="drag(event)">
				<h4>SubSubSubtitle</h4>
			</div>

			<div>
				<button onclick="submitData()">CLICK ME</button>
			</div>

		</div>
		<div class="line">

		</div>
		<div class="section">
			<div id="1-dd" ondrop="drop(event)" ondragover="allowDrop(event)" class="draggable location"></div> 
			<div id="2-dd" ondrop="drop(event)" ondragover="allowDrop(event)" class="draggable location"></div>
			<div id="3-dd" ondrop="drop(event)" ondragover="allowDrop(event)" class="draggable location"></div>
			<div id="4-dd" ondrop="drop(event)" ondragover="allowDrop(event)" class="draggable location"></div>
		</div>
	</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function submitData()
{
}

function cb(response)
{
console.log(response)
}
</script>
