{% load static %}
<html>
<head>

	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="{% static "wwwroot/css/site.css" %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
		integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
		integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static "wwwroot/scripts/site.js" %}"></script>
	<script src="{% static "wwwroot/scripts/qrcode.js" %}"></script>
</head>

<body>
	<div class="header" id="header">
		<center>
			<img src="{% static "media/logo.png"  %}" style="padding-bottom: 20px;"/>
		</center>
	</div>

	<div class="main">
		<div class="section-column" id="section-column">
			<div class="accordion" id="accordian-selection">
				<div class="card">
			    <div class="card-header" id="navs">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-settings" aria-expanded="false" aria-controls="collapse-settings">
			        <button class="btn btn-link col-md-11" type="button">
			          Application Settings
			        </button>
			      </h2>
			    </div>
			    <div id="collapse-settings" class="collapse" aria-labelledby="navs" data-parent="#accordian-selection">
			      <div class="card-body">
					<div id="app-name-setter">
					<span class="badge badge-secondary">App Name</span>	<input class="input form-control" type="text" id="app-name" placeholder="App Name" onkeydown="pres()" />
					</div>
				  </div>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-header" id="headers">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-headings" aria-expanded="false" aria-controls="collapse-headings">
			        <button class="btn btn-link col-md-11" type="button">
			          Headers & Titles
			        </button>
			      </h2>
			    </div>
			    <div id="collapse-headings" class="collapse" aria-labelledby="headers" data-parent="#accordian-selection">
			      <div class="card-body">
				  	<span class="badge badge-secondary">Title Content</span>
					<h2 draggable="true" ondragstart="drag(event)" id="title-content" class="editable component">Title</h2>
					<input class="input form-control" id="title-setter" style="display: none" type="text" value="Title" onkeyup="setValue('title', this.value)"/>

				  	<span class="badge badge-secondary">Subtitle Content</span>
					<h3 draggable="true" ondragstart="drag(event)" id="subtitle-content"class="editable component">Subtitle</h3>
					<input class="input form-control" id="subtitle-setter" style="display: none" type="text" value="Subtitle" onkeyup="setValue('subtitle', this.value)"/>
					
				  	<span class="badge badge-secondary">Subsubtitle Content</span>
					<h4 draggable="true" ondragstart="drag(event)" id="subsubtitle-content" class="editable component">Subsubtitle</h4>
					<input class="input form-control" id="subsubtitle-setter" style="display: none" type="text" value="Subsubtitle" onkeyup="setValue('subsubtitle', this.value)"/>
					
				  	<span class="badge badge-secondary">Subsubsubtitle Content</span>
					<h5 draggable="true" ondragstart="drag(event)" id="subsubsubtitle-content" class="editable component">Subsubsubtitle</h5>
					<input class="input form-control" id="subsubsubtitle-setter" style="display: none" type="text" value="Subsubsubtitle" onkeyup="setValue('subsubsubtitle', this.value)"/>

				  	<span class="badge badge-secondary">Subsubsubsubtitle Content</span>
					<h6 draggable="true" ondragstart="drag(event)" id="subsubsubsubtitle-content" class="editable component">Subsubsubsubtitle</h6>
					<input class="input form-control" id="subsubsubsubtitle-setter" style="display: none" type="text" value="Subsubsubsubtitle" onkeyup="setValue('subsubsubsubtitle', this.value)"/>
			      </div>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-header" id="buttons">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-button" aria-expanded="false" aria-controls="collapse-button">
			        <button class="btn btn-link col-md-11" type="button">
			          Buttons & Inputs
			        </button>
			      </h2>
			    </div>
			    <div id="collapse-button" class="collapse" aria-labelledby="buttons" data-parent="#accordian-selection">
			      <div class="card-body row">
					  <div class="col-auto" style="margin-top: 5px">
				  		<span class="badge badge-secondary">Primary Button Content &amp; Setter</span>
						<div style="margin-top: 5px;">
							<button id="primary-content" draggable="true" ondragstart="drag(event)" class="btn btn-primary">Primary Button</button>
							<input class="input form-control" id="primary-setter" style="display: none" type="text" value="Primary Button" onkeyup="setValue('primary', this.value)"/>
							<input class="input form-control" id="primary-link-setter" style="display: none" type="text" value="https://snwflk.io" onkeyup="setHref('primary', this.value)"/>
						</div>
				  		<span class="badge badge-secondary">Secondary Button Content &amp; Setter</span>
						<div style="margin-top: 5px;">
							<button id="secondary-content" draggable="true" ondragstart="drag(event)" class="btn btn-secondary">Secondary Button</button>
							<input class="input form-control"id="secondary-setter" style="display: none" type="text" value="Secondary Button" onkeyup="setValue('secondary', this.value)"/>
							<input class="input form-control"id="secondary-link-setter" style="display: none" type="text" value="https://snwflk.io" onkeyup="setHref('secondary', this.value)"/>
						</div>
				  		<span class="badge badge-secondary">Success Button Content &amp; Setter</span>
						<div style="margin-top: 5px;">
							<button id="success-content" draggable="true" ondragstart="drag(event)" class="btn btn-success">Success Button</button>
							<input class="input form-control"id="success-setter" style="display: none" type="text" value="Success Button" onkeyup="setValue('success', this.value)"/>
							<input class="input form-control"id="success-link-setter" style="display: none" type="text" value="https://snwflk.io" onkeyup="setHref('success', this.value)"/>
						</div>
				  		<span class="badge badge-secondary">Warning Button Content &amp; Setter</span>
						<div style="margin-top: 5px;">
							<button id="warning-content" draggable="true" ondragstart="drag(event)" class="btn btn-warning">Warning Button</button>
							<input class="input form-control"id="warning-setter" style="display: none" type="text" value="Warning Button" onkeyup="setValue('warning', this.value)"/>
							<input class="input form-control"id="warning-link-setter" style="display: none" type="text" value="https://snwflk.io" onkeyup="setHref('warning', this.value)"/>
						</div>
				  		<span class="badge badge-secondary">Danger Button Content &amp; Setter</span>
						<div style="margin-top: 5px;">
							<button id="danger-content" draggable="true" ondragstart="drag(event)" class="btn btn-danger">Danger Button</button>
							<input class="input form-control"id="danger-setter" style="display: none" type="text" value="Danger Button" onkeyup="setValue('danger', this.value)"/>
							<input class="input form-control"id="danger-link-setter" style="display: none" type="text" value="https://snwflk.io" onkeyup="setHref('danger', this.value)"/>
						</div>

					</div>
					<div class="col-auto">
						<div id="input" draggable="true" ondragstart="drag(event)">
							<div class="input-group mb-3">
						 		<input type="text" class="form-control" placeholder="Input..." aria-label="Username">
							</div>
						</div>
					</div>

				</div>
			</div>


			  <div class="card">
			    <div class="card-header" id="textblocks">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-textblock" aria-expanded="false" aria-controls="collapse-textblock">
			        <textblock class="btn btn-link col-md-11" type="textblock">
			          Textblocks
			        </textblock>
			      </h2>
			    </div>
			    <div id="collapse-textblock" class="collapse" aria-labelledby="textblocks" data-parent="#accordian-selection">
			      <div class="card-body row">
					  <div class="col-auto" style="margin-top: 5px">
					  	<div id="text" draggable="true" ondragstart="drag(event)">
							<p id="text-content" draggable="true" ongradstart="drag(event)">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<textarea id="text-setter" style="display: none; width: 600px;" type="text" value="Lorem Ipsum Dolor Sit Amet" onkeyup="setValue('text', this.value)"></textarea>
					</div>
				</div>
			</div>

			<div class="card">
			    <div class="card-header" id="navs">
			      <h2 class="mb-0" data-toggle="collapse" data-target="#collapse-navs" aria-expanded="false" aria-controls="collapse-navs">
			        <button class="btn btn-link col-md-11" type="button">
			          Navigation & Pagination
			        </button>
			      </h2>
			    </div>
			    <div id="collapse-navs" class="collapse" aria-labelledby="navs" data-parent="#accordian-selection">
			      <div class="card-body">
					<div class="row">
						<div class="col">
							<div id="nav-obj" draggable="true" ondragstart="drag(event)">
								<nav class="nav">
								  <a class="nav-link" href="#">Home</a>
								  <a class="nav-link" href="#">About</a>
								  <a class="nav-link" href="#">Contact</a>
								</nav>
							</div>
						</div>
					</div>
				  </div>
			    </div>
			  </div>
			</div>
		</div>
				<!-- generate_file is the url defined in settings.py  -->
				<!-- <a class="btn btn-large"  onclick="getData()" href="{% url "generate_file"  %}">PRESS ME</a> -->
				<textarea style="display: none;" id="data" name"data"></textarea>
				<br>
				<center>
					<div>
						<button id="load" class="btn btn-large" class="col-md-0" style="background-color: lightblue" onclick="getData()">Build App Content</button>
						<img src="{% static "media/whiteness.png" %}" id="white-load" class="col-md-1"></img>
						<img src="{% static "media/checky.png" %}" id="checky-load" class="col-md-1" style="display: none"></img>
					</div>
					<div>
						<button id="generate" class="btn btn-large" class="col-md-0" style="display: none; background-color: lightblue" onclick="test()">Generate</button>
						<img src="{% static "media/whiteness.png" %}" id="white-gen" style="display: none" class="col-md-1"></img>
						<img src="{% static "media/checky.png" %}" id="checky-gen" class="col-md-1" style="display: none"></img>
						<img src="{% static "media/loading.gif" %}" id="loading-gen" class="col-md-1" style="display: none"></img>
					</div>
				</center>

			</div>

		<div class="line"></div>
		<div id="PLACEHOLDER" class="design-container"></div>
		</div>

		<div id="qr-scan" class="overlay" style="display: none; padding-top: 5vh;">
			<center>
				<div id="qrcode"></div> <br/>
				<button id="close" class="btn btn-large" onclick="closePopup()">Close</button>
			</center>
		</div>
	</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	function closePopup() {
		document.getElementById('generate').style["display"] = "none"
		document.getElementById('checky-gen').style["display"] = "none"
		document.getElementById('load').style["background-color"] = "lightblue"
		document.getElementById('white-load').style["display"] = "inline"
		document.getElementById('checky-load').style["display"] = "none"
		document.getElementById("qr-scan").style["display"] = "none";
	}

	function generateQRCode() {
		new QRCode(document.getElementById("qrcode"), "http://google.com");
	}

	function setValue(elemId, val) {
		var element = document.getElementById(elemId + '-content').innerHTML = val;
	}
	
	function setHref(elemId, hrefVal) {
		var totalHref = "window.open('"+hrefVal+"','_blank')"
		var element = document.getElementById(elemId + '-content').setAttribute('onclick', totalHref);
	}
</script>
<script>
	var section = document.getElementById("PLACEHOLDER")
	section.addEventListener('dragover', allowDrop, false);
	section.addEventListener('drop', drop, false);
	section.addEventListener('dragstart', drag, false);
//	for(var i = 0; i < 20; i++) {
//		var subsection = document.createElement("DIV")
//		subsection.setAttribute("id", i)
//		subsection.setAttribute("class", "section")
//		for(var j = 0; j < 20; j++) {
//			var subsubsection = document.createElement("DIV")
//			subsubsection.setAttribute("id", i + "" + j)
//			subsubsection.setAttribute("ondrop", "drop(event)")
//			subsubsection.setAttribute("draggable", "true")
//			subsubsection.setAttribute("ondragover", "allowDrop(event)")
//			subsubsection.setAttribute("ondragstart", "drag(event)")
//			subsubsection.setAttribute("class", "draggable location")
//			subsection.appendChild(subsubsection)
//		}
//		section.append(subsection)
//	}
</script>

<script>

function test() {
	if (!document.getElementById('app-name').value) {
		console.log("ERROR NEED AN APP NAME")
		alert("Please Input App Name")
		throw "Need App Name";
		return
	}

	document.getElementById('white-gen').style["display"] = "none"
	document.getElementById('loading-gen').style["display"] = "inline"
	var today = new Date();

	var name = document.getElementById('app-name').value;
	var val = document.getElementById('data').value;
        $.ajax({
            url: "/generate_file",
            type: "POST",
            dataType: "html",
            data: {
                val: val,
                name: name,
                csrfmiddlewaretoken: "{{ csrf_token }}"
                },
            success : function(json) {
				document.getElementById('generate').style["background-color"] = "lightgray"
				document.getElementById("qrcode").innerHTML = ""
				document.getElementById("qr-scan").style["display"] = "block"
				document.getElementById('loading-gen').style["display"] = "none"
				document.getElementById('checky-gen').style["display"] = "inline"
				var url = "https://snwflk.io/Creations/" + dateFormat() + document.getElementById('app-name').value + "/index.html";
				new QRCode(document.getElementById("qrcode"), url);
            },
            error : function(xhr,errmsg,err) {
                alert("Could not send URL to Django. Error: " + err);
            }
        });
}
</script>
<script >
	function pres() {
		if (!document.getElementById('app-name').value) {
			console.log("no");
		}
		else {
			console.log("som");
		}
	}
</script>
<script>
	function dateFormat(date) {
		pad = function (val, len) {
            val = String(val);
            len = len || 2;
            while (val.length < len) val = "0" + val;
            return val;
        };
        var d = new Date();
        console.log(String(d.getFullYear()) +"-"+ pad(d.getMonth()+1) +"-"+ pad(d.getUTCDate()));
        return String(d.getFullYear()) +"-"+ pad(d.getMonth()+1) +"-"+ pad(d.getUTCDate());
        
	}
</script>
<script>
	function getData()
	{
		document.getElementById('data').value = document.getElementById('PLACEHOLDER').innerHTML;
		document.getElementById('load').style["background-color"] = "lightgray"
		document.getElementById('checky-load').style["display"] = "inline"
		document.getElementById('white-load').style["display"] = "none"
		document.getElementById('generate').style["background-color"] = "lightblue"
		document.getElementById('generate').style["display"] = "inline"
		document.getElementById('white-gen').style["display"] = "inline"
	}
</script>
